* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    background-color: #010E51;
    padding: 10px 20px;
    margin: 0px;
    width: 100%;
    height: 100%;
}
.active {
    font-weight: bold !important;
}

header a {
    color: white;
    text-decoration: none;
}

header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

header ul li {
    margin: 0 15px;
}

.container-header {
    /* max-width: 1267px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.one-two {
    width: 100%;
    display: flex;
  
}
.two{
    width: 60%;
}

.one a {
    font-size: 23px;
}

.menu-header {
    margin-left: 15%;
    margin-top: 20px;
    display: flex;

}

.menu-header li:first-child {
    margin-top: -7px;
}

.menu-header li{
    margin-right: 15%;
}

.three {
    width: 100%;
}

.three ul li a {
    color: white;
}

.auth-menu {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    margin-top: 13px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
}

.auth-menu li {
    margin-top: 7px;
    margin-right: 0;
}

.auth-menu li:last-child {
    margin-right: 0;
}

.vertical-line {
    width: 2px;
    height: 30px;
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background: white;
    margin: 3px 0;
}

.show-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    left: -100%;
    top: 0;
    width: 250px;
    height: 100%;
    background: #010E51;
    transition: left 0.3s ease;
    padding: 20px;
    z-index: 1000
}

.show-menu.show {
    display: flex;
    left: 0;
}

.show-menu.show li {
    margin: 10px;
}

.close-menu {
    display: none;
    font-size: 24px;
    color: white;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 10px;
}

.close-menu2 {
    display: none;
    font-size: 24px;
    color: white;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 10px;
}

.menu-header li:first-child {
    font-size: 20px;
    font-weight: bold;
    margin-right: 25%;
}

.vertical-line {
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: white;
    margin: 0 5px;
    vertical-align: middle;
}

footer {
    width: 100%;
    background-color: #FFFFFF;
}

.container-footer {
    max-width: 1366px;
    width: 100%;
    display: flex;
    padding-left: 5%;
    gap: 5%;
}

.content-footer1 {
    width: 25%;
    margin-top: 50px;
}
.content-footer2{
    width: 25%;
    display: flex;
    gap: 20%;
    margin-top: 50px;
    margin-right: 5%;
}

.content-footer2 ul {
    margin-right: 12%;
}

.content-footer3 {
    width: 25%;
    margin-top: 50px;
}

.responsiveft {
    max-width: 247px;
    width: 100%;
}

.no-border {
    width: 49%;
}

a {
    text-decoration: none;
    color: #000;
}


.ftfv {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 50px;
}

li {
    list-style: none;
}

footer {
    margin-top: 30px;
    font-family: Arial, sans-serif;
}

.content-footer2 ul li {
    margin-bottom: 35px;
    font-weight: bold;
}

.content-footer3 ul li {
    display: flex;
    margin-bottom: 35px;
}


.content-footer1 ul li:nth-child(2) {
    font-weight: bold;
    color: rgba(192, 192, 192);
    text-decoration: underline;
}

.content-footer1 ul li:nth-child(3) {

    color: rgba(192, 192, 192);
}

.content-footer1 ul li a {
    color: rgba(192, 192, 192);
}

.content-footer2 ul li:last-child {
    margin-bottom: 0;
}

.content-footer2 ul li:first-child {
    color: rgba(192, 192, 192);
}

.content-footer3 ul li:first-child {
    font-weight: bold;
    color: rgba(192, 192, 192);
}

.content-footer3 ul li:last-child {
    width: 100%;
}

.no-border {
    width: 180%;
    height: auto;
    border: none;
    outline: none;
    font-size: 100%;
    border-bottom: 1px solid black;
    margin-left: -2px;
    margin-right: 3%;
}

button {
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    font-size: 100%;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.footer2 {
    margin-top: 190px;
}

.footer2 h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
}

.popup {
    display: none;
}


@media only screen and (max-width: 600px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        list-style: none;
        text-decoration: none;
    
    }
    header {
        width: 100%;
    }

    .container-header {
        width: 100%;
        align-items: flex-start;
        gap: 25%;
    }

    .one-two {
        width: 80%;
    }


    .two {
        margin-left: 0;
        margin-top: 10px;
    }

    .menu-header {
        flex-direction: column;
    }

    .menu-header li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .menu-header {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #010E51;
        position: absolute;
        top: 50px;
        left: 0;
    }

    .hamburger-menu {
        display: flex;
        margin-top: 13px;
        margin-left: 6%;
    }

    .three {
        display: none;
        flex-direction: column;
        cursor: pointer;
    }

    .auth-menu li {
        margin-right: 0;
        margin-left: 10px;
    }

    .close-menu {
        display: block;
    }

    .close-menu2 {
        display: block;
        margin-left: 80%;
        font-size: 170%;
        font-weight: bold;
        margin-top: 8px;
    }

    .no-border::placeholder {
        font-size: 90%;
    }

    .container-footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .content-footer2 {
        flex-direction: column;
    }

    .content-footer2 ul {
        margin-right: 0;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .content-footer3{
        width: 170px;
    }

    .content-footer3 ul {
        margin-top: 20px;
    }

    .content-footer3 ul li {
        margin-bottom: 35px;
    }

    .responsiveft {
        display: flex;
        flex-direction: column;
    }

    .no-border {
        width: 100%;
        font-size: 100%;
    }
    button{
        width: 60%;
        font-size: 90%;
    }
}


/* @media only screen and (max-width: 1145px) {
    .responsiveft {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .no-border {
        width: 80%;
    }
    .no-border::placeholder{
        text-align: center;
        width: 100%;
        font-size: 90%;
    }
    button{
        width: 50%;
    }
    .subs{
        width: 100%;
        font-size: 90%;
    }
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        list-style: none;
        text-decoration: none;
    
    }
} */