.custom-header {
    font-size: 2rem;
    font-weight: 900;
}
.custom-paragraph {
    font-size: 1rem;
    color: #A4A9B2;
}
.btn-custom {
    background-color: #010E51;
    border-color: #010E51;
    color: white;
    width: 100%;
}
.btn-custom:hover {
    background-color: #3967C2;
    border-color: #3967C2;
    color: white;
}
.container-full {
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot-password {
    /* text-align: start; */
    margin-top: 10px;
    font-size: 0.9rem;
}